.main {
    overflow: auto;
    padding-bottom: 80px;
    position: relative;
    width: 100%;
    .header {
        width: 100%;
        display: flex;
        justify-content: start;
        margin-bottom: var(--spacing-m);
        align-items: flex-end;
        padding-top: var(--spacing-xl);
        gap: var(--spacing-xl);
        position: relative;
        .cover {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }
        .header__text {
            z-index: 20;
            width: 100%;
            padding: 16rem var(--spacing-xl) var(--spacing-xl) var(--spacing-xl);
        }
    }
    .list__section {
        padding: var(--spacing-xl);
        .list__section__subtitle {
            margin-bottom: var(--spacing-m);
        }
        .section__footer {
            display: flex;
            justify-content: center;
            .footer__button {
                margin-top: var(--spacing-m);
                padding: var(--spacing-s);
            }
        }
    }
    .cards__container {
        gap: var(--spacing-m);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: flex-start;
    }
}