.main {
    overflow: hidden;
    padding: var(--spacing-xl);
}

.section__container {
    margin: var(--spacing-l) 0;
    max-height: 100vh;
}

.section__list {
    overflow-x: scroll;
    display: flex;
    gap: 1rem;
    padding: var(--spacing-m) var(--spacing-m) var(--spacing-m) 0;
}