.main {
    overflow: auto;
}

.section__container {
    margin: var(--spacing-l) 0;
    max-height: 100vh;
}

.section__list {
    overflow: auto;
    display: flex;
    // flex-wrap: wrap;
    gap: 1rem;
    padding: var(--spacing-m) var(--spacing-m) var(--spacing-m) 0;
}