.container {
    height: 80px;
    width: 100vw;
    padding: var(--spacing-l);
    display: flex;
    justify-content: space-between;
    background-color: black;
    .item__container {
        width: calc(100% / 3);
        .item__left {
            display: flex;
            justify-items: start;
            .cover {
                padding: var(--spacing-s);
                width: 60px;
                height: 60px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
            div {
                width: 100%;
                padding-right: var(--spacing-xl);
            }
        }
        .item__center {
            .controls {
                padding: var(--spacing-s);
                display: flex;
                gap: var(--spacing-m);
                justify-content: center;
            }
        }
    }
}

@supports ( (-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .container {
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.1);
    }
}