@supports ( (-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .container {
        background: rgba(0, 0, 0, 0.58);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
}

.container {
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100vw;
    padding: var(--spacing-l);
    display: flex;
    justify-content: space-between;
    .item__container {
        width: calc(100% / 3);
        .item__left {
            display: flex;
            justify-items: start;
            .title__container {
                .title,
                .artist {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .cover {
                padding: var(--spacing-s);
                width: 60px;
                height: 60px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
            div {
                width: 100%;
                padding-right: var(--spacing-xl);
            }
        }
        .item__center {
            .controls {
                padding: var(--spacing-s);
                display: flex;
                gap: var(--spacing-m);
                justify-content: center;
            }
        }
    }
}